@import url(https://db.onlinewebfonts.com/c/0fadaa21fcac88ceee0bb8da992c221b?family=SalesforceSans-Regular);

/* GENERAL STYLE =====================================================*/
a {
  color: inherit;
  text-decoration: none;
}
.o-btn {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 16px;
  transition: all 0.4s cubibezier(0.4, 0, 0.2, 1);
  border: 1px solid #c9c7c5;
  box-sizing: border-box !important;
  border-radius: 200px!important;
}
.o-btn span {
  margin-left: 10px;
}
.o-btn:hover {
  background-color: #005fb2;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
html, body {
  height: 100%; /* fills the screen top to bottom */
}

button{
  cursor: pointer;
}

/* BODY ==============================================================*/
body {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 4em 1fr;
  grid-template-areas: 
  "header header"
  "cal main";

  background: linear-gradient(#005fb2, #b0c4df);
  color: #c9c7c5;
  font-size: 13px;
  font-family: 'Salesforce', sans-serif;
  font-weight: 100;
}
body.overlay:before {
  position: fixed;
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* HEADER ===========================================================*/
header {
  grid-area: header;

  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background: transparent;
  padding-left:20px;
}
/*
header > * {
  width: 300px;
}
*/
#for_thought {
  text-align: center;
  width: 200px;
}
.monthyear {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  letter-spacing: 2px;
  width: 360px;
}
.month {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 200px;
}
#prev, #next {
  width: 8px;
  height: 12px;
  padding: 10px 12px;
  cursor: pointer;
}
#prev:hover, #next:hover {
  border: 1px solid #c9c7c5;
  border-radius: 50%;
}
#header_year {
  line-height: 4em;
  padding-left: 10px;
}

#header_month{
  width: 94px;
  justify-content: center;
}
#profileicon {
  font-size: 2em;
  padding-bottom: 4px;
  vertical-align: middle;
}

#home{
  font-size: 2em;
  padding-right: 132px;
}

.avatar {
  width: 20px;
  border-radius: 50%;
}
.popup {
  cursor: pointer;
  text-align: center;
  height: 40px;
  line-height:40px;
  width: 150px;
  display: inline-block;
  }
/* The actual popup (appears on top) */
.popuptext {
  cursor: auto;
  visibility: hidden;
  background-color: #005fb2;
  z-index: 100000;
  position: relative;
  color: #c9c7c5;
  text-align: left;
  border-radius: 15px;
  padding: 20px 20px;
}
.popup:hover {
  border: 1px solid #c9c7c5;
  box-sizing: border-box !important;
  border-radius: 20px!important;
}
.popup:hover .popuptext {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.container{
  max-height: 52px; 
  text-align: right; 
  width:360px;
}

/* PREVIEW WINDOW ====================================================*/
.calendar_style {
  background: transparent;
  margin: 20px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.preview {
  padding: 20px;
  grid-area: main;
}
.preview_day {
  font-size: 28px;
  margin: 18px 10px;
}
.preview_num {
  font-family: 'Salesforce', sans-serif;
  font-weight: 900;
}
.preview_event {
  position: relative;
  cursor: pointer;
  margin: 10px;
  white-space: pre-wrap;
}

/* CALENDAR =========================================================*/
aside{
  grid-area: cal;
  padding: 10px;
}
.calendar {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
.cal_row {
  display: flex;
  justify-content: flex-start;
}
.cal_col, .cal_cel, .cal_empty {
  width: calc(100% / 7);
  height: 50px;
}
.cal_col{
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.cal_cel {
  position: relative; /* keep this for corrent event dot position*/
  box-sizing: border-box;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cal_cel:hover, .cal_cel.isSelected {
  border: 3px solid #c9c7c5;
  border-radius: 200px;
}

/* EVENT CREATOR =====================================================*/
.event_creator {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 500px;
  max-height: 470px;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 20px;
  background: linear-gradient(#005fb2, #b0c4df);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  box-sizing: border-box;
  transform: translate(-50%, -50%) scale(0.9);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.3s;
}
.event_creator form {
  margin: 10px;
  width: 450px;
  height: 370px;
}
.event_creator.isVisible {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
textarea{
  padding: 0;
  border-width: 0;
  resize: none;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-sizing: border-box;
}
.event::before {
  background-color: #c9c7c5;
  border-radius: 50%;
  --dot_size: 0.8em; /* Event Dot: change this to change size*/

  width: var(--dot_size);
  height: var(--dot_size);
  content: '';
  position: absolute;
  left: 50%;
  margin-left: calc(var(--dot_size) / -2);
  bottom: calc(var(--dot_size) / 2);
}

.event_creator_date{
  font-size: 28px;
}
