@import url(//db.onlinewebfonts.com/c/0fadaa21fcac88ceee0bb8da992c221b?family=SalesforceSans-Regular);

html, body {
  height: 100%; /* fills the screen top to bottom */
}

/* BODY ==============================================================*/
body {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 4em 1fr;
  grid-template-areas: 
  "header header header"
  "article article article";

  background: linear-gradient(#005fb2, #b0c4df);
  color: #c9c7c5;
  font-size: 13px;
  font-family: 'Salesforce', sans-serif;
  font-weight: 100;
}

.date{
	font-size: 75px;
}

.greeting{
	font-size: 50px;
}

#calendar{
  font-size: 50px;
}
header{
  
}
