@import url(https://db.onlinewebfonts.com/c/0fadaa21fcac88ceee0bb8da992c221b?family=SalesforceSans-Regular);


/* BODY ==============================================================*/


body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 1fr 1fr 0.5fr;
  grid-template-areas: 
  "header"
  "article"
  "textbox"
  ".";

  background: linear-gradient(#005fb2, #b0c4df);
  color: #c9c7c5;
  font-size: 13px;
  font-family: 'Salesforce', sans-serif;
  font-weight: 100;
}

header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
}
article{
  grid-area: article;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#edit {
  height: 70%;
  box-sizing: border-box;
  padding: 10px;
}
.textbox{
  grid-area: textbox;
  height: 100%;
}
.date{
	font-size: 3em;
}

.greeting{
	font-size: 2em;
}

#calendar{
  font-size: 2em;
  width: 400px;
  box-sizing: border-box;
}
.logo{
  height: 2em;
  line-height: 2em;
  text-align: center;
  margin: 0px;
  width: 200px;
}

#profileicon{
  font-size: 2em;
  padding-bottom: 4px;
  vertical-align: middle;
}

#save-cal {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  border: 1px solid #16325c;
}

