@import url(//db.onlinewebfonts.com/c/0fadaa21fcac88ceee0bb8da992c221b?family=SalesforceSans-Regular);

/* GENERAL STYLE =====================================================*/
a {
  color: inherit;
  text-decoration: none;
}
.o-btn {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 16px;
  transition: all 0.4s cubibezier(0.4, 0, 0.2, 1);
}
.o-btn span {
  margin-left: 10px;
}
.o-btn:hover {
  border: 1px solid #c9c7c5;
  box-sizing: border-box !important;
  border-radius: 200px!important;
}

body {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 4em 1fr;
  grid-template-areas: 
  "header header"
  "main cal"
}
header {
  grid-area: header;
}
.preview {
  grid-area: main;
}
aside {
  grid-area: cal;
  max-width: 100%;
}



/* BODY ==============================================================*/
body {
  box-sizing: border-box !important;
  background: #005fb2;
  background: linear-gradient(#005fb2, #b0c4df);
  color: #c9c7c5;
  font-size: 13px;
  font-family: 'Salesforce', sans-serif;
  font-weight: 100;
}
body.overlay:before {
  position: fixed;
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* HEADER ===========================================================*/
header {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background: transparent;
}
.monthyear {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.month {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  position: relative;
  height: 100%;
  width: 200px;
}
#header_month {
  height: 100%;
  align-items: center;
}
#prev, #next {
  padding: 8px 12px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 200px;
}
#prev:hover, #next:hover {
  border: 1px solid #c9c7c5;
  box-sizing: border-box !important;
  border-radius: 50%;
}
#header_year { /* fix this silliness */
  height: 100%;
  line-height: 4em;
  padding: 0 20px;
}

/* PREVIEW WINDOW ====================================================*/
main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch; /* vertical stretch*/
  
  padding-top: 4em;
}
.calendar_style {
  background: transparent;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  border-radius: 6px;
}
.preview {
  padding: 20px;
}
.preview_day {
  font-size: 28px;
  margin: 18px 10px;
}
.preview_num {
  font-family: 'Salesforce', sans-serif;
  font-weight: 900;
}
.preview_event {
  position: relative;
  padding-left: 20px;
  margin: 20px 0;
}
.preview_event:before {
  position: absolute;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  left: 0;
  border-radius: 50%;
}

/* CALENDAR =========================================================*/
.cal_container {
  padding-bottom: 71%; /*this will cause issues*/
}
.calendar {
}
.cal_row {
  display: flex;
  justify-content: flex-start;
}
.cal_col {
  width: calc(100% / 7);
  text-align: center;
  height: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.cal_cel, .cal_empty {
  position: relative;
  width: calc(100% / 7);
  text-align: center;
  border-radius: 50%;
  transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
}
.cal_cel {
  cursor: pointer;
}
.cal_cel p {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
}
.cal_cel::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.cal_cel:hover {
  border: 1px solid #c9c7c5;
  box-sizing: border-box !important;
  border-radius: 200px!important;
}
.cal_cel.isSelected {
  border: 1px solid #c9c7c5;
  box-sizing: border-box !important;
  border-radius: 200px!important;
}
.cal_cel.isToday {
  background-color: rgba(245, 113, 112, 0.2);
}
.cal_cel.isToday p {
  background: rgba(245, 113, 112, 0.4);
}

/* EVENT CREATOR =====================================================*/
.event_creator {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 500px;
  max-height: 470px;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 20px;
  background: linear-gradient(#005fb2, #b0c4df);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubibezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  transform: translate(-50%, -50%) scale(0.9);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.3s;
}
.event_creator form {
  margin: 10px;
  width: 450px;
  height: 370px;
}
.event_creator.isVisible {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
textarea{
  appearance: none;
  padding: 0;
  border-width: 0;
  resize: none;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-sizing: border-box;
}
.event:before {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #c9c7c5;
  z-index: 10;
  padding: 0;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, calc(50% + 20px/2));
}

