@import url(//db.onlinewebfonts.com/c/0fadaa21fcac88ceee0bb8da992c221b?family=SalesforceSans-Regular);

body.overlay:before {
  position: fixed;
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
body {
  height: 100%;
  box-sizing: border-box !important;
  background: #005fb2;
  background: -webkit-gradient(linear, left top, left bottom, from(#005fb2), to(#b0c4df)) !important;
  background: linear-gradient(#005fb2, #b0c4df) !important;
  color: #c9c7c5;
  font-size: 13px;
  font-family: 'Salesforce', sans-serif;
  font-weight: 100;
}
.wrapper {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}
/* UTILITY ===========================================================*/
.u-border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.u-transition {
  transition: all 0.4s cubibezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubibezier(0.4, 0, 0.2, 1);
}
.u-transition.long {
  transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
}
.u-transition.elastic {
  transition: all 0.25s cubibezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubibezier(0.175, 0.885, 0.32, 1.275);
}
.resetDefaultApparence {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding: 0;
  border-width: 0;
  resize: none;
}
.resetDefaultApparence::-ms-expand {
  display: none;
}
/* STYLE ===========================================================*/
header {
  position: fixed;
  height: 96px;
  width: 100%;
  z-index: 50;
  background: transparent;
}
header > .wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #c9c7c5;
  letter-spacing: 4px;
  font-size: 14px;
}
header > .wrapper a {
  color: #c9c7c5;
  text-decoration: none;
  margin-left: 10px;
}
.monthyear {
  display: -webkit-box;
  display: flex;
}
.month {
  position: relative;
  height: 96px;
  line-height: 96px;
}
.month #paginator {
  position: relative;
  width: 200px;
  display: block;
  height: 96px;
  line-height: 96px;
  text-align: center;
  overflow: hidden;
}
.month #paginator .paginator__month {
  position: absolute;
  width: 200px;
  top: 0;
  bottom: 0;
  right: 0;
}


.month #paginator .paginator__month:nth-child(1) {
  left: 0;
}
.month #paginator .paginator__month:nth-child(2) {
  left: 200px;
}
.month #paginator .paginator__month:nth-child(3) {
  left: 400px;
}
.month #paginator .paginator__month:nth-child(4) {
  left: 600px;
}
.month #paginator .paginator__month:nth-child(5) {
  left: 800px;
}
.month #paginator .paginator__month:nth-child(6) {
  left: 1000px;
}
.month #paginator .paginator__month:nth-child(7) {
  left: 1200px;
}
.month #paginator .paginator__month:nth-child(8) {
  left: 1400px;
}
.month #paginator .paginator__month:nth-child(9) {
  left: 1600px;
}
.month #paginator .paginator__month:nth-child(10) {
  left: 1800px;
}
.month #paginator .paginator__month:nth-child(11) {
  left: 2000px;
}
.month #paginator .paginator__month:nth-child(12) {
  left: 2200px;
}
.month .prev,
.month .next {
  position: absolute;
  display: block;
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 8px 12px;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.4s cubibezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubibezier(0.4, 0, 0.2, 1);
}
.month .prev.long,
.month .next.long {
  transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
}
.month .prev.elastic,
.month .next.elastic {
  transition: all 0.25s cubibezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubibezier(0.175, 0.885, 0.32, 1.275);
}
.month .prev {
  left: 0;
}
.month .prev:hover {
  border: 1px solid #c9c7c5;
  box-sizing: border-box !important;
  border-radius: 200px!important;
}
.month .next {
  right: 0;
}
.month .next:hover {
  border: 1px solid #c9c7c5;
  box-sizing: border-box !important;
  border-radius: 200px!important;
}
.paginator__year {
  height: 96px;
  line-height: 96px;
  padding: 0 20px;
}
.o-btn {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  transition: all 0.4s cubibezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubibezier(0.4, 0, 0.2, 1);
}
.o-btn.long {
  transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
}
.o-btn.elastic {
  transition: all 0.25s cubibezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubibezier(0.175, 0.885, 0.32, 1.275);
}
.o-btn span {
  margin-left: 10px;
}
.o-btn:hover {
  border: 1px solid #c9c7c5;
  box-sizing: border-box !important;
  border-radius: 200px!important;
}
.calendar {
  padding-top: 96px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.calendar__style {
  background: transparent;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.cal__container {
  position: relative;
  width: 400px;
  height: 0;
  padding-bottom: 65%;
  overflow: hidden;
  font-size: 18px;
}
.main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.cal__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.cal__col {
  width: calc(100% / 7);
  text-align: center;
  height: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.cal__cel, .cal__empty {
  position: relative;
  width: calc(100% / 7);
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
}
.cal__cel p {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
}
.cal__cel::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.cal__cel:nth-child(1) p {
  background: transparent;
}
.cal__cel:nth-child(7) p {
  background: transparent;
}
.cal__cel:hover {
  border: 1px solid #c9c7c5;
  box-sizing: border-box !important;
  border-radius: 200px!important;
}
.cal__cel.isSelected {
  border: 1px solid #c9c7c5;
  box-sizing: border-box !important;
  border-radius: 200px!important;
}
.cal__cel.isToday {
  background-color: rgba(245, 113, 112, 0.2);
}
.cal__cel.isToday p {
  background: rgba(245, 113, 112, 0.4);
}
.cal__cel.other_month {
  color: rgba(255, 255, 255, 0.2);
}
.event:before {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #c9c7c5;
  z-index: 10;
  padding: 0;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translate(-50%, calc(50% + 20px/2));
  -webkit-transform: translate(-50%, calc(50% + 20px/2));
}
.event--birthday:before {
  background-color: #FACC2E;
}
.event--festivity:before {
  background-color: #10DDC2;
}
.event--important:before {
  background-color: #F57170;
}

.aside {
  width: calc(100% - 400px);
  padding: 20px;
}
.aside__day {
  font-size: 28px;
  margin: 18px 10px;
}
.aside__day .aside__num {
  font-family: 'Salesforce', sans-serif;
  font-weight: 900;
}
.aside__event {
  position: relative;
  padding-left: 20px;
  margin: 20px 0;
}
.aside__event:before {
  position: absolute;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.event__creator {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 500px;
  max-height: 470px;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 20px;
  background: linear-gradient(#005fb2, #b0c4df);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubibezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubibezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translate(-50%, -50%) scale(0.9);
  -webkit-transform: translate(-50%, -50%) scale(0.9);
}
.event__creator.long {
  transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubibezier(0.4, 0, 0.2, 1);
}
.event__creator.elastic {
  transition: all 0.25s cubibezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubibezier(0.175, 0.885, 0.32, 1.275);
}
.event__creator form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.event__creator.isVisible {
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding: 0;
  border-width: 0;
  resize: none;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
input::-ms-expand,
textarea::-ms-expand,
select::-ms-expand {
  display: none;
}
input {
  height: 48px;
 
.is_today {
  background: rgba(245, 80, 112, .4);
}
